<%= stylesheet_link_tag 'application' %>

<h2>Book Prices</h2>

<div id="wrapper">
<%= image_tag "ruby_on_rails.png", :size => "120x150"%>
<p><%= @message %></p>
<p>€12.00</p>
</div>
<br>
<br>
<div id="wrapper">
<%= image_tag "ruby.png", :size => "120x150"%>
<p><%= @message %></p>
<p>€21.00</p>
  </div>
